/* style pageholder */
/* @font-face{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}

html {
    font-family: webfont;
} */
.container {
    text-align: center;
    margin: 0 auto;
    font-weight: 300;
    background: linear-gradient(90deg, #ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
    background-image: url('plasma_d.gif');
    color: #fffbfb;
    font-family: 'Racing Sans One', cursive;
}

.container h3 {
    margin: 0 auto;
    height: 200px ;
    width: 100%;
    font-size: 40px;
    border-radius: 20px;
    font-weight: normal;
    padding-top: 40px;
    background-color: #000000;
    color: #e6edee;
    font-variant: normal;
    text-transform: capitalize;
    text-align: center;
    background-image: url('plasma_d.gif');
}

img {
    border: 2px, solid, rgb(194, 3, 3);
    border-radius: 20px;
    opacity: 0.5;
    transition: 0,25s ease-in-out;
}

img:hover {
    opacity: 1;
}

button {
    cursor: pointer;
    transition: 0.25s ease-in-out;
    width: 300px;
    height: 60px;
    font-size: 20px;
    color: white;
    background-color: black;
    outline: none;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: auto;
    font-family: 'Racing Sans One', cursive;
}

button:hover {
    background-color: green;
    color: white;
}

div p {
    font-size: 25px;
    font-weight: 500;
}